*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}

html, body{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(30deg, yellow, purple);
}

.container{
  background-color: rgba(255, 189, 68, 0.3);
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav ul li{
  padding: 30px;
  color: whitesmoke;
}

.nav button{
  padding: 8px;
  font-size: 12px;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
}

.nav button .bx{
  padding: 4px;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5px 20px;
}

.hero .image img{
  width: 1500px;
  position: absolute;
  top: 30px;
  left: 300px;
}

.hero .text h1{
  font-size: 50px;
  font-weight: 860;
  line-height: 60px;
}

.hero .text p{
  font-size: 17px;
  font-weight: 600;
  padding-top: 10px;
}

.hero button{
  padding: 8px;
  font-size: 12px;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  margin-top: 10px;
}

.hero button .bx{
  padding: 4px;
}

.hero .text{
  position: absolute;
  top: 270px;
  left: 30px;
}

.hero .text .diff{
  color: whitesmoke;
}

@media(max-width: 800px){
  .hero .image img{
    width: 100%;
    position: absolute;
    top: 150px;
    left: 220px;
  }

  .hero .text h1{
    font-size: 30px;
    font-weight: 860;
    line-height: 40px;
  }

  .hero .text p{
    font-size: 11px;
    font-weight: 500;
    padding-top: 10px;
  }

  .nav button{
    padding: 6px;
    font-size: 10px;
    border-radius: 20px;
  }

  .nav ul li{
    padding: 10px;
    font-size: 12px;
  }

  .hero button{
    padding: 6px;
    font-size: 10px;
    border-radius: 20px;
  }
}