@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Luckiest+Guy&family=Pacifico&family=Shadows+Into+Light&family=Titan+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Luckiest Guy", cursive;
  width: 100%;
}

input::placeholder{
  font-family: "Luckiest Guy", cursive;
}

.container{
  width: 100%;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 40px;
  background-color: rgba(146, 184, 255, 0.527);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 999999;
}

.header .logo{
  font-size: 25px; 
  color: rgb(108, 3, 134);
  text-shadow: rgb(204, 2, 255) 3px 3px 0px;
}

.header .logo a {
  text-decoration: none;
}

.navbar .active{
  color: white;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navbar li{
  list-style: none;
}

.navbar li a{
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
}

.navbar li a:hover{
  color: #0d6efd;
}

.header .search input{
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.header .search button{
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #0d6efd;
  cursor: pointer;
}

.hero{
  width: 100%;
  padding: 80px 50px 100px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-image: linear-gradient(90deg, rgba(75, 32, 104, 0.6), rgba(120, 122, 255, 0.7)), url(images/movies/mov1.jpg);
  background-size: cover;
  background-position: top 25% right 0;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.hero #logo{
  font-size: 50px;
  text-shadow: rgb(73, 131, 255) 4px 4px 0px;
}

.hero .info{
  text-align: center;
  font-size: 20px;
  line-height: 35px;
}

.hero .info span{
  color: rgb(108, 3, 134);
  text-shadow: rgb(204, 2, 255) 2px 2px 0px;
}

.hero #search{
  width: 50%;
  display: flex;
}

.hero #search input{
  width: 100%;
  padding: 23px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
  outline: none;
  background-color: rgba(146, 184, 255, 0.527);
}

.hero #search input::placeholder{
  font-size: 20px;
  color: white;
}

.hero #search button{
  width: 20%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #0d6efd;
  border: none;
  outline: none;
  cursor: pointer;
}

.hero #search button i{
  font-size: 20px;
}

.content{
  width: 100%;
  padding: 30px 40px 30px 40px;
}

.content .movies{
  width: 100%;
  margin-top: 30px;
}

.content .movies a{
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.content .movies h2{
  cursor: pointer;
  display: inline;
  transition: 0.3s ease;
}

.content .movies h2:hover{
  color: rgb(61, 61, 255);
}

.content .movies .movie-list{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 20px 10px 20px;
}

.content .movies .movie-list .movie{
  cursor: pointer;
}

.content .movies .movie-list .movie:hover{
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.content .movies hr{
  margin-top: 10px;
  margin-bottom: 5px;
}

.content .movies .movie-list img{
  width: 100%;
  height: 230px;
  border-radius: 5px;
  object-fit: cover;
}

.content .movies .movie-list p{
  font-family: "Exo 2", sans-serif;
  font-size: 10px;
  font-weight: 800;
}


.content .series{
  width: 100%;
  margin-top: 80px;
}

.content .tv-series{
  margin-top: 20px;
}

.content .series a{
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.content .series h2{
  cursor: pointer;
  display: inline;
  transition: 0.3s ease;
}

.content .series h2:hover{
  color: rgb(61, 61, 255);
}

.content .series hr{
  margin-top: 10px;
  margin-bottom: 5px;
}

.content .series .series-list{
  width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap: 20px;
 padding: 10px 20px 10px 20px;
 font-size: 12px;
}

.content .series .series-list .serie{
  cursor: pointer;
}

.content .series .series-list .serie:hover{
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.content .series .series-list img{
  width: 100%;
  height: 230px;
  border-radius: 5px;
  object-fit: cover;
}

.content .series .series-list p{
  font-family: "Exo 2", sans-serif;
  font-weight: 800;
}

.content .anime{
  width: 100%;
  margin-top: 80px;
}

.content .ani{
  margin-top: 20px;
}

.content .anime a{
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.content .anime h2{
  cursor: pointer;
  display: inline;
  transition: 0.3s ease;
}

.content .anime h2:hover{
  color: rgb(61, 61, 255);
}

.content .anime hr{
  margin-top: 10px;
  margin-bottom: 5px;
}

.content .anime .anime-list{
  width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap: 20px;
 padding: 10px 20px 10px 20px;
 font-size: 12px;
}

.content .anime .anime-list .animes{
  cursor: pointer;
}

.content .anime .anime-list .animes:hover{
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.content .anime .anime-list img{
  width: 100%;
  height: 230px;
  border-radius: 5px;
  object-fit: cover;
}

.content .anime .anime-list p{
  font-family: "Exo 2", sans-serif;
  font-weight: 800;
}

.news{
  width: 100%;
  padding: 50px 40px 50px 40px;
  background-color: rgb(211, 101, 255);
}

.news .letter{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.news .letter p{
  font-size: 25px;
}

.news .letter .form{
 width: 50%;
 display: flex;
}

.news .letter .form input{
  width: 100%;
  padding: 20px;
  border: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  outline: none;
}

.news .letter .form button{
  width: 20%;
  padding: 10px;
  border: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  outline: none;
  font-family: "Luckiest Guy", cursive;
  cursor: pointer;
  background-color: #3584fc;
  color: white;
  transition: 0.3s ease-in-out;
}

.news .letter .form button:hover{
  background-color: #004bbd;
}

/* information page */

.folder{
  width: 100%;
  padding: 50px 25px 40px 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: start;
}

.inform .folder .movie-info{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inform .folder .movie-info .movie-img{
  width: 100%;
}

.inform .movie-info .movie-img img{
  width: 100%;
  border-radius: 10px;
}

.inform .movie-info .movie-descript{
  width: 100%;
  padding-top: 5px;
}

.inform .movie-info .movie-descript h2{
  font-size: 35px;
}

.inform .movie-info .movie-descript p{
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  padding-top: 13px;
}

.inform .movie-info .download-movie{
  width: 70%;
  padding-top: 10px;
}

.inform .movie-info .download-movie button{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  font-family: "Luckiest Guy", cursive;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.inform .movie-info .download-movie button:hover{
  background-color: #3584fc;
}

.inform .movie-info .recomended-movies{
  width: 100%;
  margin-top: 50px;
}

.inform .movie-info .recomended-movies .rec-movies{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.inform .movie-info .recomended-movies .rec-movies .rec-movie-list{
  cursor: pointer;
}

.inform .movie-info .recomended-movies .rec-movies p{
  font-size: 10px;
}

.inform .movie-info .recomended-movies .rec-movies a{
  text-decoration: none;
}

.inform .movie-info .recomended-movies .rec-movies .rec-movie-list:hover{
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.inform .movie-info .recomended-movies .rec-movies img{
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.inform .trailer-and-comment{
  width: 100%;
}

.inform .trailer-and-comment .movie-trailer{
  width:100%;
}

.inform .trailer-and-comment .movie-trailer iframe{
  border-radius: 10px;
  height: 400px;
}

.inform .trailer-and-comment .comment{
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.inform .trailer-and-comment .comment h3{
  font-size: 30px;
}

.inform .trailer-and-comment .comment p{
  margin-top: 5px;
}

.inform .trailer-and-comment .comment input{
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgb(201, 201, 201);
}

.inform .trailer-and-comment .comment textarea{
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgb(201, 201, 201);
}

textarea::placeholder{
  font-family: "Luckiest Guy", cursive;
}

.inform .trailer-and-comment .comment button{
  width: 100%;
  height: 50px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  background: blue;
  cursor: pointer;
  font-family: "Luckiest Guy", cursive;
  color: white;
  font-size: 20px;
}

.navbar i{
  display: none;
}

.header .fa-outdent{
  display: none;
}

@media(max-width: 1024px) {
  .inform .movie-info .recomended-movies .rec-movies {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media(max-width: 900px){
  .navbar {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 270px;
    width: 220px;
    background: rgb(177, 198, 255);
    padding: 50px 0 0 15px;
    z-index: 9999999999;
    border-bottom-left-radius: 20px;
    line-height: 40px;
  }

  .navbar i{
    display: block;
    position: fixed;
    top: 15px;
    font-size: 30px;
  }

  .header .fa-outdent{
    display: block;
    position: fixed;
    right: 50px;
    font-size: 30px;
  }

  .navbar .active{
    color: rgb(255, 255, 255);
  }

  .header .search{
    margin-right: 60px;
  }

  .news .letter p {
    font-size: 23px;
  }

  .inform .movie-info .recomended-movies .rec-movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 770px){
  .navbar {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 270px;
    width: 220px;
    background: rgb(177, 198, 255);
    padding: 50px 0 0 15px;
    z-index: 9999999999;
    border-bottom-left-radius: 20px;
    line-height: 40px;
  }

  .navbar i{
    display: block;
    position: fixed;
    top: 15px;
    font-size: 30px;
  }

  .header .fa-outdent{
    display: block;
    position: fixed;
    right: 50px;
    font-size: 30px;
  }

  .navbar .active{
    color: rgb(255, 255, 255);
  }

  .header .search{
    margin-right: 60px;
  }

  .folder {
    width: 100%;
    padding: 50px 25px 40px 25px;
    display: flex;
    flex-direction: column;
  }

  .news .letter {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .inform .movie-info .download-movie {
    width: 100%;
  }
}


@media (max-width: 500px) {
  .navbar {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 270px;
    width: 220px;
    background: rgb(177, 198, 255);
    padding: 50px 0 0 15px;
    z-index: 9999999999;
    border-bottom-left-radius: 20px;
    line-height: 40px;
  }

  .navbar i{
    display: block;
    position: fixed;
    top: 15px;
    font-size: 30px;
  }

  .header .fa-outdent{
    display: block;
    position: fixed;
    right: 20px;
    font-size: 30px;
  }

  .navbar .active{
    color: rgb(255, 255, 255);
  }

  .header {
    padding: 20px 20px 20px 20px;
  }

  .header .logo {
    font-size: 20px;
  }

  .header .search{
    display: none;
  }

  .hero {
    width: 100%;
    padding: 40px 25px 50px 25px;
    gap: 10px;
    margin-bottom: 20px;
  }

  .hero #logo {
    font-size: 25px;
  }

  .hero .info {
    font-size: 15px;
  }

  .hero #search input {
    width: 100%;
    padding: 15px;
  }

  .hero #search input::placeholder{
    font-size: 13px;
  }

  .hero #search {
    width: 100%;
  }

  .content {
    padding: 30px 20px 30px 20px;
  }

  .content .movies .movie-list img {
    width: 100%;
    height: 400px;
  }

  .content .movies a {
    font-size: 15px;
  }

  .content .series a {
    font-size: 15px;
  }

  .content .series .series-list img {
    width: 100%;
    height: 400px;
  }

  .content .anime a {
    font-size: 15px;
  }

  .content .anime .anime-list img {
    width: 100%;
    height: 400px;
  }

  .news {
    padding: 30px 20px 30px 20px;
  }

  .news .letter p {
    font-size: 20px;
  }

  .news .letter {
    flex-direction: column;
    gap: 10px;
  }

  .news .letter .form {
    width: 100%;
  }

  .content .movies .movie-list {
    padding: 10px 6px 10px 6px;
    gap: 40px;
  }

  .content .series .series-list {
    gap: 40px;
    padding: 10px 6px 10px 6px;
    font-size: 12px;
  }

  .content .anime .anime-list {
    gap: 40px;
    padding: 10px 6px 10px 6px;
    font-size: 12px;
  }

  .content .anime .anime-list p {
    font-size: 20px;
  }

  .content .series .series-list p {
    font-size: 20px;
  }

  .content .movies .movie-list p {
    font-size: 20px;
  }

  /*information page*/

  .folder {
    padding: 50px 25px 40px 25px;
    display: flex;
    flex-direction: column;
  }

  .inform .movie-info .recomended-movies .rec-movies img {
    width: 100%;
    height: 200px;
  }

  .inform .movie-info .download-movie {
    width: 100%;
  }

  .inform .movie-info .recomended-movies .rec-movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media(max-width: 350px){
  .news .letter p {
    font-size: 17px;
  }
}